@model GSAssetManagement.Entity.DTO.ModuleSummaryReport
@{
    Layout = "";
}
<table class="table table-bordered searchme-table">
    <thead>
        <tr>
            <th>Branch Code</th>
            <th>Branch Name</th>
            <th>Report Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            string _class = string.Empty;
            foreach (GSAssetManagement.Entity.GetBranchWiseReportStatusDTO item in Model.listBranchWiseReportStatusDTOs)
            {
                _class = "success";
                <tr class="@_class">
                    <td nowrap>@item.BranchCode</td>
                    <td nowrap>@item.BranchName</td>
                    <td nowrap>@item.BranchReportStatus</td>
                </tr>

                i++;
            }
        }
    </tbody>
</table>
