﻿@model GSAssetManagement.Entity.DTO.ModuleSummary
@using GSAssetManagement.Web.Utility


<table class="table table-bordered searchme-table" style="width:50% !important;">
    <thead>
        <tr>
            <th>#</th>
            <th>Located At <span style="color:red">*</span></th>

        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            string _class = "success";
            foreach (GSAssetManagement.Entity.AssetExtraDetailDTO dto in Model.ListAssetExtraDetailDTO)
            {
                <tr class="@_class">
                    <td scope="row"> @i </td>
                    <td nowrap>
                        @Html.DropDownList("Location" + i, GetSelectList.GetLocationSelectList(Model.ListStaticDataDetailsDTO, dto.Location).Select(s => new SelectListItem() { Text = s.Text, Value = s.Value, Selected = s.Selected }).OrderBy(x => x.Text), "--Select--", new { @class = "form-control dropdown" })
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>