@model GSAssetManagement.Entity.DTO.ModuleSummaryReport
@using System.Data
@{
    Layout = "";
}
<table class="table table-bordered searchme-table">
    <thead>
        <tr>
            <th>Branch Name</th>
            <th>Date of Submission</th>
            <th>Year (calendar year)</th>
            <th>Reported Quarter</th>
            <th>Asset Category Name</th>
            <th>Location</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>

        @{
            int i = 1;
            string _class = string.Empty;
            foreach (GSAssetManagement.Entity.GetDrillingReportByNotWorkingStatusDTO item in Model.listReportByNotWorkingStatusDTOs)
            {
                _class = "success";

                <tr class="@_class">
                    <td nowrap>@item.BranchName</td>
                    <td nowrap>@item.ReportDate.ToString("dd MMM yyyy")</td>
                    <td nowrap>@item.ReportYear</td>
                    <td nowrap>@item.ReportPeriod</td>
                    <td nowrap>@item.CategoryName</td>
                    <td nowrap>@item.Location</td>
                    <td nowrap>@item.Remarks</td>
                </tr>

                i++;
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td nowrap colspan="7" style="background-color: #1fb25a; color: #ffffff;padding:8px !important"> <b>Total:-</b>@Model.listReportByNotWorkingStatusDTOs.Count() </td>
        </tr>
</table>


