@model GSAssetManagement.Entity.DTO.ModuleSummary
@using GSAssetManagement.Web.Utility
@{                                                                                                                             
    Layout = this.Request.IsAjaxRequest() ? "" : "~/Views/Shared/_Layout.cshtml";                                          
}                                                                                                                              


    @using (Html.BeginForm("Update", Model.ModuleSummaryName, new { area = Model.SchemaName }, FormMethod.Post, new { @role = "form", @id = "mainForm", @autocomplete = "off", @enctype = "multipart/form-data" }))
            {                                                                                                                                                                                         
             @Html.Hidden("Id", Model.PrimaryRecordId)
             @Html.Hidden("CurrentAction", GSAssetManagement.Entity.CurrentAction.Edit)
             foreach (var item in Model.moduleBussinesLogicSummaries.Where(x => x.HtmlDataType == "hidden"))
             {           
                 @Html.Hidden(item.ColumnName, item.CurrentValue)
             }           
                        
        <div class="box box-primary">
            <div class="box-header with-border">
<h5 class="box-title">Application Role </h5>
            </div>
            <div class="box-body">
                        <div class="row">
                            @foreach (var item in Model.moduleBussinesLogicSummaries.Where(x => x.HtmlDataType != "hidden").OrderBy(c => c.Position))
                            {
                                if (item.HtmlDataType == "input")
                                {
                                    <div class="form-group has-feedback col-lg-3">
                                        <label class="control-label" for="inputSuccess"> <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="@item.HelpMessage"></i> @item.Name </label>
                                        @Html.TextBox(item.ColumnName, item.CurrentValue ?? item.DefaultValue, item.Attributes)
                                        <span class="field-validation-valid help-block" data-valmsg-for="@item.ColumnName" data-valmsg-replace="true"></span>
                                    </div>
                                }
                                if (item.HtmlDataType == "textarea")
                                {
                                    <div class="form-group has-feedback col-lg-6">
                                        <label class="control-label" for="inputSuccess"> <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="@item.HelpMessage"></i> @item.Name </label>
                                        @Html.TextArea(item.ColumnName, item.CurrentValue as string ?? item.DefaultValue as string, 2, 10, item.Attributes)
                                        <span class="field-validation-valid help-block" data-valmsg-for="@item.ColumnName" data-valmsg-replace="true"></span>
                                    </div>
                                }
    if (item.HtmlDataType == "select")
    {
        <div class="form-group has-feedback col-lg-3">
            <label class="control-label" for="inputSuccess"><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="@item.HelpMessage"></i> @item.Name  </label>
            @Html.DropDownList(item.ColumnName, item.SelectList.Select(s => new SelectListItem() { Text = s.Text, Value = s.Value, Selected = s.Selected }), "--Select--", item.Attributes)
            <span class="field-validation-valid help-block" data-valmsg-for="@item.ColumnName" data-valmsg-replace="true"></span>
        </div>
    }
                                }         
                        </div>
                    <div class="row">																							
                        <div class="col-md-12">																					
                            <div class="box box-primary">																		
                                <h4 class="box-title"><i class="glyphicon glyphicon-list-alt"></i> Record Log</h4>				
                                <hr class="message-inner-separator">																
                                <div class="box-body table-responsive no-padding">												
                                    <table class="table table-bordered">															
                                        <thead>																					
                                            <tr>																					
                                                <th>#</th>																			
                                                <th nowrap>Record Status</th>														
                                                <th nowrap>Created By</th>															
                                                <th nowrap>Created Date</th>														
                                                <th nowrap>Modified By</th>														
                                                <th nowrap>Modified Date</th>														
                                                <th nowrap>Authorized by</th>														
                                                <th nowrap>Authorized Date</th>														
																																	
                                            </tr>																					
                                        </thead>																					
                                        <tbody>																					
                                            <tr>																					
                                                <td>1</td>																			
                                                <td nowrap>@Model.RecordStatus</td>												
                                                <td nowrap>@Model.CreatedBy</td>													
                                                <td nowrap>@Model.CreatedDate</td>													
                                                <td nowrap>@Model.ModifiedBy</td>													
                                                <td nowrap>@Model.ModifiedDate</td>												
                                                <td nowrap>@Model.AuthorisedBy</td>												
                                                <td nowrap>@Model.AuthorisedDate</td>												
                                            </tr>																					
                                        </tbody>																					
                                    </table>																						
                                </div>																								
                            </div>																									
																																	
                        </div>																										
                    </div>																											
                    @if (Model.RecordChangeLog != null)																				
                    {																													
																																		
                        <div class="row">																							
                            <div class="col-md-12">																					
                                <div class="box box-primary">																		
                                    <h4 class="box-title"><i class="glyphicon glyphicon-warning-sign"></i> Change Logs</h4>		
                                    <hr class="message-inner-separator">																
                                    <div class="box-body table-responsive no-padding">												
                                        <table class="table table-bordered">															
                                            <thead>																					
                                                <tr>																					
                                                    <th>#</th>																			
                                                    <th>Field Name</th>																
                                                    <th>Log Status</th>																
                                                    <th>Modified Date</th>																
                                                    <th>Original Value</th>															
                                                    <th>Modified Value</th>															
                                                </tr>																					
                                            </thead>																					
                                            <tbody>																					
                                                @{																						
                                                    int i = 1;																			
                                                    string _class = string.Empty;														
                                                    foreach (var item in Model.RecordChangeLog.PropertyChangeLogs)						
                                                    {																					
																																		
                                                        <tr class="primary">															
                                                            <td scope="row"> @i </td>												
                                                            <td> @item.PropertyName </td>												
                                                            <td> @Model.RecordChangeLog.ChangeStatus.ToString()</td>					
                                                            <td> @Model.RecordChangeLog.ChangeDate </td>								
                                                            <td> @item.OldValue </td>													
                                                            <td> @item.NewValue </td>													
																																		
                                                        </tr>																			
                                                        i++;																			
                                                    }																					
                                                }																						
                                            </tbody>																					
                                        </table>																						
                                    </div>																								
                                </div>																									
																																		
                            </div>																										
                        </div>																											
                    }																													
					<div class="row">																																						
                        <p style="float:right">																																			
                            @if (Model.RecordStatus == GSAssetManagement.Entity.RecordStatus.Active || Model.ModifiedById == ViewUserInformation.GetCurrentUserId())									
                            {																																								
                                if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Edit))						
                                {																																							
                                    <button class="btn icon-btn btn-success update saveRecords" type="submit" data-currentaction="@GSAssetManagement.Entity.CurrentAction.Edit">				
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-floppy-disk img-circle text-success">											
                                        </span>Update																																
                                    </button>																																				
                                }																																							
                                if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Delete))						
                                {																																							
                                    <button class="btn icon-btn btn-danger update saveRecords" type="submit" data-currentaction="@GSAssetManagement.Entity.CurrentAction.Delete">				
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-trash img-circle text-success">												
                                        </span>Delete																																
                                    </button>																																				
                                }																																							
                            }																																								
																																															
                            else if (Model.RecordStatus == GSAssetManagement.Entity.RecordStatus.UnVerified)																						
                            {																																								
                                if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Discard))					
                                {																																							
                                    <button class="btn icon-btn btn-warning revert saveRecords" type="submit" data-currentaction="@GSAssetManagement.Entity.CurrentAction.Discard">				
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-floppy-remove img-circle text-success">										
                                        </span>Discard																																
                                    </button>																																				
                                }																																							
																																															
                                if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Authorise))					
                                {																																							
                                    <button class="btn icon-btn btn-warning revert saveRecords" type="submit" data-currentaction="@GSAssetManagement.Entity.CurrentAction.Revert">				
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-floppy-remove img-circle text-success">										
                                        </span>Revert																																
                                    </button>																																				
                                }																																							
																																															
                                if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Authorise))					
                                {																																							
                                    <button class="btn icon-btn btn-success authorise saveRecords" type="submit" data-currentaction="@GSAssetManagement.Entity.CurrentAction.Authorise">		
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-floppy-saved img-circle text-success">										
                                        </span>Verified																															
                                    </button>																																				
                                }																																							
																																															
																																															
                            }																																								
																																															
                            @if (Model.IsParent)																																			
                            {																																								
                                <a href="/UserManagement/ApplicationRole" class="btn btn-primary btn-flat">
                                    <i class="fa  fa-hand-o-left"></i> Cancel																									
                                </a>																																						
                            }																																								
                           else if(!Model.IsParent && Model.EntryType=="S") 
                           {
                                <a href="/UserManagement/" class="btn btn-primary btn-flat">
                                   <i class="fa fa-hand-o-left" ></i> Cancel
                               </a>
                           }
                            else																																							
                            {																																								
                                <a href="/UserManagement/ApplicationRole" class="btn btn-primary btn-flat" id="backtoSummary">
                                    <i class="fa  fa-hand-o-left"></i> Cancel																									
                                </a>																																						
                            }																																								
																																															
                        </p>																																								
                    </div>																																									
            </div>
        </div>
      }
