﻿@font-face {
    font-family: 'ReemKufi';
    src: url('../fonts/ReemKufi/ReemKufi-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ReemKufi/ReemKufi-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ReemKufi/ReemKufi-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ReemKufi/ReemKufi-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ReemKufi/ReemKufi-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ReemKufi/ReemKufi-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*=====================================================================================
========================Over Ride styles for template==================================
=======================================================================================*/
.skin-blue .main-header .navbar {
    position: relative;
    padding: 10px 0 0;
    background: linear-gradient(90deg, rgba(4, 109, 64, 1) 70%, rgba(0, 124, 196, 1) 100%);
    z-index: 2;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background: rgba(4, 109, 64, 1);
}

.skin-blue .sidebar a {
    color: #ffffff;
    transition: 400ms ease;
}

.skin-blue .sidebar-menu > li.header {
    background: #1fb25a none repeat scroll 0 0;
    color: #ffffff;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    background: #E5B41C none repeat scroll 0 0;
    border-left-color: #606060;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #1fb25a none repeat scroll 0 0;
}

.skin-blue .treeview-menu > li > a {
    color: #ffffff;
}

.skin-blue .treeview-menu a:hover {
    padding-left: 20px;
}

.site-title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding: 10px;
}

    .site-title span {
        background-color: transparent;
        font-family: "ReemKufi";
        font-size: 24px;
        color: #fff;
    }

.skin-blue .main-header .navbar .sidebar-toggle {
    transition: 400ms ease;
    color: #fff;
}

    .skin-blue .main-header .navbar .sidebar-toggle:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

.navbar-nav > li > a {
    transition: 400ms ease;
}

.skin-blue .main-header .logo {
    background-color: #ECF0F5;
}

    .skin-blue .main-header .logo:hover {
        background-color: #ecf0f5;
    }

.main-header .logo {
    font-family: Pontano Sans;
    font-weight: 700;
}

.main-header .sidebar-toggle:before {
    color: #fff;
}

.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    font-size: 14px;
}

.dashboard-box .glyphicon {
    color: rgba(0, 0, 0, 0.3);
}

.dashboard-box .info-box-text {
    color: #464646;
    font-size: 16px;
    font-weight: 700;
}

.control-sidebar .tab-content {
    padding: 0 15px 15px;
}
/*Fieldset*/
#form .box-header.with-border {
    display: none;
}

fieldset {
    border: medium none;
    margin: 0 2px;
    padding: 0;
}

div.supported-section table th.custom-boarder {
    background-color: #ffffff;
    color: #000000;
    padding: 8px !important;
    white-space: nowrap;
}

.is-approved {
    color: #005B31;
    border: 0.15rem solid #005B31;
    -webkit-mask-position: 17rem 6rem;
    transform: rotate( -3deg);
    font-size: 14px;
}

.custom-boarder {
    border: 1px solid #131212 !important;
}

.stamp {
    transform: rotate(350deg);
    color: #555;
    font-size: 12px;
    font-weight: 500;
    FONT-WEIGHT: 600;
    display: inline-block;
    padding: 0.15rem 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: 'Courier';
    -webkit-mask-size: 859px 604px;
    mix-blend-mode: multiply;
}

/*Table*/
table > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

th {
    background-color: #1fb25a;
    color: #ffffff;
    padding: 8px !important;
    white-space: nowrap;
}

table .btn {
    border-radius: 0;
    padding: 3px 8px;
}

.control-sidebar-menu .menu-info {
    margin-top: 10px;
}

.timeline > li > .fa, .timeline > li > .glyphicon, .timeline > li > .ion {
    color: #ffffff;
}
/*TABS*/
.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
    background-color: #1fb25a;
    color: #ffffff;
    border: none;
}

    .nav-tabs-custom > .nav-tabs > li.active > a::after {
        border-left: 10px solid rgba(0, 0, 0, 0);
        border-right: 10px solid rgba(0, 0, 0, 0);
        border-top: 8px solid #1fb25a;
        content: "";
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
    }

.nav-tabs-custom > .nav-tabs {
    border-bottom: 2px solid #1fb25a;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
}

.profile-icon {
    /*position: absolute;
    top: 65px;
    right: 0;
    z-index: 9;*/
}

.content-title {
    position: relative;
    background-color: #f9f9f9;
    border-bottom: 4px solid #1fb25a;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 15px;
}

.form-title {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #1fb25a;
    color: #1fb25a;
    padding: 8px;
}

.profile-icon .box-profile {
    background-color: #ffffff;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
}


.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    height: 34px;
}

.check-box {
    margin-top: 30px;
}

.timeline > .time-label > span {
    color: #ffffff;
    margin-left: 60px;
}
/*Report page design
=========================*/
.report-folder {
    display: block;
    margin-bottom: 30px;
    padding: 15px;
    transition: 400ms ease;
    border: 1px solid #e7e7e7;
}

    .report-folder span {
        display: block;
        min-height: 50px;
        padding: 0 5px;
        color: #363636;
        line-height: 20px;
        transition: 400ms ease;
    }

    .report-folder img {
        width: 120px;
        margin-bottom: 10px;
    }

.report-list.report-folder img {
    width: auto;
}

.report-folder:hover, .report-folder:focus {
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
}

    .report-folder:hover span, .report-folder:focus span {
        color: #1fb25a;
    }

.btns {
    width: 100%;
    text-align: center;
}

.report-folder a.btn {
    display: inline-block;
    width: calc(50% - 7px);
    padding: 4px 12px;
    border-radius: 0;
}

    .report-folder a.btn.btn-auth {
        width: 100%;
        margin-left: 0 !important;
    }

    .report-folder a.btn:first-child {
        /*margin-right: 7px;*/
    }

    .report-folder a.btn:last-child {
        margin-left: 7px;
        margin-top: 5px;
    }

.header-wrap {
    position: relative;
}

.header-oprions {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

    .header-oprions .btn {
        border-radius: 0;
    }

.search-form {
    display: inline-block;
}

.btn-add-new-report {
    border-radius: 0;
    display: inline-block;
}

fieldset.inactive {
    opacity: .5;
}

fieldset.active {
    opacity: 1;
}

/*Accordion*/
.accordion-wrap {
    padding: 0 10px;
}

    .accordion-wrap .box {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 0;
        border: none;
        margin-bottom: 0;
    }

        .accordion-wrap .box .box-header {
            padding: 0;
        }

        .accordion-wrap .box .box-title {
            display: block;
        }

            .accordion-wrap .box .box-title a {
                display: block;
                padding: 12px;
                position: relative;
                color: #ffffff;
                /**/
                background: -moz-linear-gradient(top, rgba(60,141,188,1) 0%, rgba(61,165,191,0.85) 100%);
                background: -webkit-linear-gradient(top, rgba(60,141,188,1) 0%,rgba(61,165,191,0.85) 100%);
                background: linear-gradient(to bottom, rgba(60,141,188,1) 0%,rgba(61,165,191,0.85) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fb25a', endColorstr='#d93da5bf',GradientType=0 );
            }

                .accordion-wrap .box .box-title a.normal.collapsed:after {
                    transform: translateY(-50%) rotate(180deg);
                }

                .accordion-wrap .box .box-title a.normal:after {
                    content: "";
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-bottom: 7px solid #fff;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    transition: 100ms ease;
                }

                .accordion-wrap .box .box-title a .label.label-danger {
                    background-color: #d9534f !important;
                    margin-left: 20px;
                    position: relative;
                }

                    .accordion-wrap .box .box-title a .label.label-danger:after {
                        content: "";
                        position: absolute;
                        left: -5px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-right: 5px solid #d9534f;
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                    }

.modal .input-group {
    margin-bottom: 15px;
    width: 100%;
}

.modal-body {
    padding: 15px 15px 0;
}

.modal-title {
    color: #6f6f6f;
}

.modal-footer {
}

.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: #ececec !important;
}

.bg-light-blue-active, .modal-primary .modal-header, .modal-primary .modal-footer {
    background-color: #ececec !important;
    border-bottom: 2px solid #f39c12;
}

.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: #ececec !important;
}

.social-auth-links {
    background-color: #EEEEEE;
    padding: 15px;
}
/*PDF BROWSE MODAL
================================*/
.pdf-view-modal .modal-dialog {
    width: 90%;
}

.pdf-view-modal .modal-body {
    height: 500px;
}

.parent {
    position: relative;
    width: 100%;
    height: 100%;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    background: #ffffff;
    right: 15px;
    top: 0;
}

.toggle-title {
    margin: 0 0 15px;
    padding: 8px 10px;
    background-color: #1fb25a;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: 400ms ease;
}

    .toggle-title:hover {
        background-color: #367FA9;
    }

.modal .btn-block + .btn-block {
    margin-top: 0;
}

.btn-conform-true {
    display: inline-block;
    width: calc(50% - 5px);
    vertical-align: middle;
    float: right;
    border-radius: 0;
}

.btn-conform-false {
    display: inline-block;
    width: calc(50% - 5px);
    vertical-align: middle;
    float: left;
    border-radius: 0;
}
/*Blink Animation
    ========================
*/
@-webkit-keyframes blinking {
    from {
        background-color: red;
    }

    to {
        background-color: inherit;
    }
}

@-moz-keyframes blinking {
    from {
        background-color: red;
    }

    to {
        background-color: inherit;
    }
}

@-o-keyframes blinking {
    from {
        background-color: red;
    }

    to {
        background-color: inherit;
    }
}

@keyframes blinking {
    from {
        background-color: red;
    }

    to {
        background-color: inherit;
    }
}

.blink {
    -webkit-animation: blinking 1s infinite; /* Safari 4+ */
    -moz-animation: blinking 1s infinite; /* Fx 5+ */
    -o-animation: blinking 1s infinite; /* Opera 12+ */
    animation: blinking 1s infinite; /* IE 10+ */
}
/*Page Loader
    ========================
*/
.loader-wrap {
    background-color: rgba(255,255,255,.6);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.loader {
    height: 54px;
    left: calc(50% - 70px);
    position: relative;
    top: calc(50% - 27px);
    width: 136px;
}

    .loader > div {
        border: 5px solid #ffffff;
        border-radius: 50%;
        position: absolute;
    }

.one {
    background-color: #ffffff;
    height: 150px;
    left: calc(50% - 45px);
    text-align: center;
    top: calc(50% - 45px);
    width: 150px;
}

    .one > img {
        padding-top: 6px;
        border-radius: 50%;
    }

.two {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #E5B41C 0%, #E5B41C 50%, #ffffff 50%, #ffffff 100%) repeat scroll 0 0;
    height: 180px;
    left: calc(50% - 60px);
    top: calc(33% - 59px);
    width: 180px;
}

.three {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #1fb25a 0%, #1fb25a 50%, #ffffff 50%, #ffffff 100%) repeat scroll 0 0;
    bottom: calc(49% - 130px);
    height: 210px;
    left: calc(50% - 80px);
    width: 210px;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotating-opposite {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotating-opposite {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.rotating-1 {
    animation: 6s linear 0s normal none infinite running rotating;
}

.rotating-2 {
    animation: 4s linear 0s normal none infinite running rotating-opposite;
}

.rotating-3 {
    animation: 2s linear 0s normal none infinite running rotating;
}

.alert-success, .alert-danger {
    color: red;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 5px;
}

    .alert-success h4, .alert-danger h4 {
        color: #fff;
    }

    .alert-success #message, .alert-danger #message {
        color: #fff;
    }

.control-sidebar-menu .menu-icon {
    color: #fff;
}
/* Date Picker
    ========================
*/
.datepicker table tr td, .datepicker table tr th {
    border-radius: 0;
    transition: 400ms ease;
}

th.prev, th.next {
    background-color: #1fb25a;
}

th.datepicker-switch {
    background-color: #1fb25a;
    font-weight: normal;
}

th.dow {
    background-color: #1fb25a;
    text-transform: uppercase;
    font-weight: normal;
}

.datepicker.dropdown-menu {
    border-radius: 0;
    padding: 0;
}

.today.day {
    background-color: #1fb25a !important;
    position: relative;
    color: #fff !important;
}

.active.day {
    position: relative;
}

    .active.day:before, .today.day:before {
        position: absolute;
        left: 1px;
        bottom: 1px;
        content: "";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
    }

.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
    background-color: #004A9B;
}

.open-accordion {
}

.accordion-content {
    padding: 15px 15px 0;
    border: 1px solid #1fb25a;
}

.field-validation-error, .field-validation-valid {
    color: #bf0000;
    font-size: 10px;
}

.aside-btn-search {
    margin: 0 10px;
    width: calc(100% - 20px);
}

.sidebar-mini.sidebar-collapse .aside-btn-search {
    display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #367FA9;
    border: 1px solid #367FA9;
    border-radius: 4px;
}

.temp-container .container {
    width: 100%;
    padding: 0;
}

#control-sidebar-theme-demo-options-tab {
    display: none;
}

.nav.nav-tabs.nav-justified.control-sidebar-tabs li:first-child {
    opacity: 0;
    width: 0;
    display: block;
}

    .nav.nav-tabs.nav-justified.control-sidebar-tabs li:first-child a {
        display: none;
    }
/*User Details Design
===============================*/
.user-details {
    background-color: #f9f9f9;
    padding-bottom: 5px;
    border: 1px solid #1fb25a;
}

    .user-details h2 {
        background-color: #1fb25a;
        color: #ffffff;
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        padding: 8px;
    }

    .user-details .col-md-6 {
        margin-bottom: 5px;
    }

.custom-fieldset {
    background-color: #f9f9f9;
    border: 1px solid #00c0ef;
    margin-bottom: 10px;
    padding: 0 10px;
}

    .custom-fieldset h2 {
        background-color: #00c0ef;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        margin: 0 -10px 10px;
        padding: 10px;
    }

iframe img {
    height: auto;
    width: 370px;
}

.post-reply .time {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.post-reply {
    position: relative;
    background-color: #f9f9f9;
    margin: 0 15px 15px;
    list-style-type: none;
    border: 1px solid #cfcfcf;
    padding: 0 0 0 20px;
}

    .post-reply ul {
        position: relative;
        list-style-type: none;
        border: 1px solid #cfcfcf;
        padding: 0 0 0 20px;
        border-style: solid none none solid;
    }

    .post-reply .bg-yellow.fa-comments {
        background-color: rgba(0, 0, 0, 0) !important;
        color: #afafaf;
        font-size: 22px;
        left: 25px;
        position: absolute;
        top: 15px;
    }

    .post-reply .timeline-header {
        padding-left: 35px;
    }

        .post-reply .timeline-header a {
            font-size: 16px;
            font-weight: 700;
        }

        .post-reply .timeline-header small {
            font-size: 12px;
            padding-top: 5px;
        }

    .post-reply .timeline-body {
        background-color: #ffffff;
        margin-bottom: 4px;
        padding: 5px 8px;
    }

    .post-reply .timeline-footer .col-sm-10 {
        padding-left: 0;
    }

.icheckbox_square-blue.checked.disabled {
    background-position: -48px 0;
}

.leave-link {
    padding: 15px;
    display: inline-block;
    color: #fff;
}

    .leave-link:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: #fff;
    }

#map {
    width: 100% !important;
    height: 360px !important;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.compare-pep-img {
    position: absolute;
    right: 30px;
    top: 0;
}

.date-converter {
    position: fixed;
    left: -200px;
    bottom: 0;
    transform: translateY(-50%);
    z-index: 999;
    transition: 400ms ease;
}


    .date-converter.active {
        left: 0;
    }

.date-converter-content {
    display: inline-block;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0px 6px 2px rgba(0,0,0,0.3);
    vertical-align: bottom;
}

.chat {
    position: fixed;
    bottom: -355px;
    right: 0;
    transition: 400ms ease;
}

    .chat.active {
        bottom: 0;
    }

.chat-head {
    width: 300px;
    text-align: left;
    position: relative;
}

    .chat-head i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }

.chat-body {
    background-color: #fff;
    border: 1px solid #ccc;
    border-style: none solid solid solid;
}

.chat-footer textarea {
    height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 1px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #1fb25a;
}

.select2-container--open .select2-dropdown--below {
    border-radius: 0;
}

.new-customer .btn {
    padding: 15px;
    background-color: transparent;
    border: none;
    color: #fff;
}

.new-customer .dropdown-menu a {
    padding: 10px;
}

.new-customer .btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.new-customer .dropdown-menu {
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
    margin-top: 0;
}

.version-detect {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #078CC5;
    z-index: 99999;
}

    .version-detect h1 {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        padding: 50px;
        font-size: 24px;
        color: #fff;
        line-height: 32px;
    }

.chosen-choices, .chosen-single {
    display: none !important;
}

.scenario-group {
    margin-bottom: 10px;
    border: 1px solid #1fb25a;
}

    .scenario-group a label:hover {
        cursor: pointer;
    }

    .scenario-group a label {
        margin-bottom: 0;
    }

    .scenario-group > a {
        position: relative;
        display: block;
    }

        .scenario-group > a:after {
            position: absolute;
            content: "";
            right: 15px;
            top: 50%;
            color: #1fb25a;
            font-family: FontAwesome;
            transform: translateY(-50%);
        }

        .scenario-group > a.active:after {
            content: "";
        }

.asterisk {
    margin-left: 5px;
    color: #dd4b39;
}

.field-validation-error {
    /*background-color: #dd4b39;*/
    bottom: 0;
    color: #fff;
    content: "test";
    font-size: 12px;
    height: 29px;
    /*height: 34px;
    width: 140px;
     right: 15px;
    */
    padding: 10px;
    position: absolute;
    right: 5px;
}

.text-danger.field-validation-error > span {
    position: relative;
}

    .text-danger.field-validation-error > span:after {
        content: "";
        left: -18px;
        position: absolute;
        top: 50%;
        border-top: 8px solid transparent;
        border-right: 8px solid #DD4B39;
        border-bottom: 8px solid transparent;
        transform: translateY(-50%);
    }

.suspicious-act .col-lg-6:nth-child(9) strong {
    font-size: 13px;
}

.form-content {
    border: 1px solid #1fb25a;
    margin-bottom: 20px;
    margin-top: -20px;
    padding: 15px 15px 0;
}

#ui-datepicker-div {
    z-index: 350 !important;
    opacity: 0 !important;
}

.user-panel > .image > img {
    width: 100%;
    max-width: 45px;
    height: auto;
    color: #fff;
}

.user-panel > .info > p {
    font-weight: 600;
    margin-bottom: 9px;
    color: #fff;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .sidebar-menu > li {
        position: relative;
        margin: 0;
        padding: 0;
    }

        .sidebar-menu > li > a {
            padding: 12px 5px 12px 15px;
            display: block;
        }

            .sidebar-menu > li > a > .fa,
            .sidebar-menu > li > a > .glyphicon,
            .sidebar-menu > li > a > .ion {
                width: 20px;
            }

        .sidebar-menu > li .label,
        .sidebar-menu > li .badge {
            margin-right: 5px;
        }

        .sidebar-menu > li .badge {
            margin-top: 3px;
        }

    .sidebar-menu li.header {
        padding: 10px 25px 10px 15px;
        font-size: 12px;
    }

    .sidebar-menu li > a > .fa-angle-left,
    .sidebar-menu li > a > .pull-right-container > .fa-angle-left {
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 10px;
        -webkit-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }

    .sidebar-menu li > a > .fa-angle-left {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -8px;
    }

    .sidebar-menu .menu-open > a > .fa-angle-left,
    .sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .sidebar-menu .active > .treeview-menu {
        display: block;
    }

.control-label {
    vertical-align: top;
}

.col-lg-12 > textarea {
    width:80%;
}

.box-Search {
    border:initial;
}

.leftColumn {
    padding-left: 7px;
    padding-right: 7px;
}

.rightColumn {
    margin-top: 0px !important;
    padding-left: 0px;
    padding-right: 7px !important;
}