@model GSAssetManagement.Entity.DTO.ModuleSummary
@using GSAssetManagement.Web.Utility
@{
    Layout = this.Request.IsAjaxRequest() ? "" : "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Hidden("ParentId", null)
<div class="col-md-12" id="currentTabInformation">
@using (Html.BeginForm("Create", Model.ModuleSummaryName, new { area = Model.SchemaName }, FormMethod.Post, new { @role = "form", @id = "mainForm", @autocomplete = "off", @enctype = "multipart/form-data" }))
            {
                  @Html.AntiForgeryToken()
                  @Html.Hidden("Id", Model.PrimaryRecordId)
                  @Html.Hidden("CurrentAction", GSAssetManagement.Entity.CurrentAction.Create)
                  foreach (var item in Model.moduleBussinesLogicSummaries.Where(x => x.HtmlDataType == "hidden"))
                  {
                       @Html.Hidden(item.ColumnName, item.CurrentValue)
                  }
        <div class="box box-primary">
            <div class="box-header with-border">
<h5 class="box-title">Application User Role</h5>
            </div>
            <div class="box-body">
                        <div class="row">
                            @foreach (var item in Model.moduleBussinesLogicSummaries.Where(x => x.HtmlDataType != "hidden").OrderBy(c => c.Position))
                            {
                                if (item.HtmlDataType == "input")
                                {
                                    <div class="form-group has-feedback col-lg-3">
                                        <label class="control-label" for="inputSuccess"> <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="@item.HelpMessage"></i> @item.Name </label>
                                        @Html.TextBox(item.ColumnName, item.CurrentValue ?? item.DefaultValue, item.Attributes)
                                    </div>
                                }
                                if (item.HtmlDataType == "textarea")
                                {
                                    <div class="form-group has-feedback col-lg-6">
                                        <label class="control-label" for="inputSuccess"> <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="@item.HelpMessage"></i> @item.Name </label>
                                        @Html.TextArea(item.ColumnName, item.CurrentValue as string ?? item.DefaultValue as string, 2, 10, item.Attributes)
                                    </div>
                                }
    if (item.HtmlDataType == "select")
    {
        <div class="form-group has-feedback col-lg-3">
            <label class="control-label" for="inputSuccess"><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="@item.HelpMessage"></i> @item.Name  </label>
            @Html.DropDownList(item.ColumnName, item.SelectList.Select(s => new SelectListItem() { Text = s.Text, Value = s.Value, Selected = s.Selected }), "--Select--", item.Attributes)
        </div>
    }
                                }         
                        </div>    
                    <div class="row">
                          <p style="float:right">
                           @if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Create))
                           {
                        <button class="btn icon-btn btn-success saveRecords" type="submit" disabled>
                            <span class="btn-glyphicon glyphicon glyphicon-floppy-disk img-circle text-success">
                            </span>Save
                        </button>
                           }
                           @if (Model.IsParent)
                           {
                                <a href="/UserManagement/ApplicationUserRole" class="btn btn-primary btn-flat">
                                   <i class="fa fa-hand-o-left" ></i> Cancel
                               </a>
                           }
                           else if(!Model.IsParent && Model.EntryType=="S") 
                           {
                                <a href="/UserManagement/ApplicationUser" class="btn btn-primary btn-flat">
                                   <i class="fa fa-hand-o-left" ></i> Cancel
                               </a>
                           }
                           else
                           {
                                <a href="/UserManagement/ApplicationUserRole" class="btn btn-primary btn-flat" id="backtoSummary">
                                   <i class="fa fa-hand-o-left" ></i> Cancel
                               </a>
                           }
                           </p>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
