 @model GSAssetManagement.Entity.DTO.ModuleSummary
@using System.Data
@{
                Layout = "";
}
<table class="table table-bordered searchme-table">
    <thead>                                                                    
        <tr>
            <th>#</th>
            <th>Branch / EC</th>
            <th>Date of Submission</th>
            <th>Year (Calendar Year)</th>
            <th>Reported Quarter</th>
            <th>Modified Date</th>
            <th>Modified By</th>
            <th>Entity State</th>
            <th>Record Status</th>
            <th>Action</th>
        </tr>                                                             
    </thead>                                                              
    <tbody>                                                               
        @{                                                                
            int i = 1;                                                    
        string _class = string.Empty;                                     
            foreach (System.Data.DataRow item in Model.SummaryRecord.Results.Rows)      
            {                                                             
                if ((GSAssetManagement.Entity.RecordStatus)Enum.Parse(typeof(GSAssetManagement.Entity.RecordStatus), item["Record_Status"].ToString()) == GSAssetManagement.Entity.RecordStatus.UnVerified)
                {
                    _class = "warning";
                }                        
                else if ((GSAssetManagement.Entity.RecordStatus)Enum.Parse(typeof(GSAssetManagement.Entity.RecordStatus), item["Record_Status"].ToString()) == GSAssetManagement.Entity.RecordStatus.Inactive)
                {
                    _class = "danger";
                }                       
                else                    
                {                       
                    _class = "success";
                                         
                }                        
                <tr class="@_class">
                    <td scope="row"> @i </td>
                    <td nowrap>@item["BranchName"].ToString()</td>
                    <td nowrap>@item["ReportDate"].ToString()</td>
                    <td nowrap>@item["ReportYear"].ToString()</td>
                    <td nowrap>@item["ReportPeriod"].ToString()</td>
                    <td nowrap>@item["ModifiedDate"]</td>
                    <td nowrap>@item["ModifiedBy"] </td>
                    <td nowrap>@((GSAssetManagement.Entity.DataEntityState)item["EntityState"]) </td>
                    <td nowrap>@((GSAssetManagement.Entity.RecordStatus)item["Record_Status"]) </td>
                    <td title="Preview Record Detail"><a href="/GSDrillingReport/DrillingReport/Details/?Id=@item["Id"].ToString()"><i class="glyphicon glyphicon-hand-right"> Preview Deatils</i></a></td>
                </tr>                                                                     
                i++;                                                                      
            }                                                                             
        }                                                                                 
    </tbody>                                                                              
</table>                                                                                  
<div class="form-group">                                                                
    <div class="col-md-6 col-sm-3 col-xs-12">                                           
        <nav aria-label="Page navigation" style="float:left;">                        
            <ul class="pagination recordSize">                                          
                <li>                                                                      
                    <a href ="#" aria-label="Previous">                               
                        <span aria-hidden="true">&larr;</span> Records Per Page         
                    </a>                                                                  
                </li>                                                                     
                <li><a href ="#" data-pagesize="10">10</a></li>                       
                <li><a href ="#" data-pagesize="20">20</a></li>                       
                <li><a href ="#" data-pagesize="40">40</a></li>                       
                <li><a href ="#" data-pagesize="50">50</a></li>                       
                <li><a href ="#" data-pagesize="100">100</a></li>                     
            </ul>                                                                         
        </nav>                                                                            
    </div>                                                                                
    <div class="col-md-6 col-sm-3 col-xs-12">                                           
        <nav aria-label="Page navigation" style="float:right;">   
           @Html.RenderPager(Model.SchemaName, Model.ModuleSummaryName, "SearchIndex", (int)Math.Ceiling((decimal)Model.SummaryRecord.RowCount / ((decimal)Model.SummaryRecord.PageSize == 0 ? 1 : (decimal)Model.SummaryRecord.PageSize)), Model.SummaryRecord.PageSize, Model.SummaryRecord.PageNumber)
        </nav>   
    </div>       
</div>           
