@model GSAssetManagement.Entity.DTO.ModuleSummaryForDetails
@using GSAssetManagement.Web.Utility
@{
    Layout = this.Request.IsAjaxRequest() ? "" : "~/Views/Shared/_Layout.cshtml";
    var WorkingStatusSelectList = ViewBag.WorkingStatusSelectList as List<GSAssetManagement.Entity.DTO.Select>;
    var CCTVBackupText = "";
    var CCTVBackupStatus = "";
}


<div class="row">
    @Html.Hidden("ParentId", Model.PrimaryRecordId)
    <div class="col-md-12" id="currentTabInformation">
        @using (Html.BeginForm("Update", Model.ModuleSummaryName, new { area = Model.SchemaName }, FormMethod.Post, new { @role = "form", @id = "mainForm", @autocomplete = "off", @enctype = "multipart/form-data" }))
        {
            @Html.Hidden("Id", Model.PrimaryRecordId)
            @Html.Hidden("CurrentAction", GSAssetManagement.Entity.CurrentAction.Edit)
            foreach (var item in Model.moduleBussinesLogicSummaries.Where(x => x.HtmlDataType == "hidden"))
            {
                @Html.Hidden(item.ColumnName, item.CurrentValue)
                if (item.ColumnName == "CCTVBackupRemarks")
                {
                    CCTVBackupText = item.CurrentValue.ToString();
                }

                if (item.ColumnName == "CCTVBackupStatus")
                {
                    CCTVBackupStatus = item.CurrentValue.ToString();
                }
            }

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h5 class="box-title"><b>Drilling Report</b></h5>
                </div>
                <div class="box-body">
                    <div class="row">
                        @foreach (var item in Model.moduleBussinesLogicSummaries.Where(x => x.HtmlDataType != "hidden").OrderBy(c => c.Position))
                        {
                            if (item.HtmlDataType == "input")
                            {
                                <div class="form-group has-feedback col-lg-3">
                                    <label class="control-label" for="inputSuccess"> <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="@item.HelpMessage"></i> @item.Name </label>
                                    @Html.TextBox(item.ColumnName, item.CurrentValue ?? item.DefaultValue, item.Attributes)
                                    <span class="field-validation-valid help-block" data-valmsg-for="@item.ColumnName" data-valmsg-replace="true"></span>
                                </div>
                            }
                            if (item.HtmlDataType == "textarea")
                            {
                                <div class="form-group has-feedback col-lg-12">
                                    <label class="control-label" for="inputSuccess"> <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="@item.HelpMessage"></i> @item.Name </label>
                                    @Html.TextArea(item.ColumnName, item.CurrentValue as string ?? item.DefaultValue as string, 5, 20, item.Attributes)
                                    <span class="field-validation-valid help-block" data-valmsg-for="@item.ColumnName" data-valmsg-replace="true"></span>
                                </div>
                            }
                            if (item.HtmlDataType == "select")
                            {
                                <div class="form-group has-feedback col-lg-3">
                                    <label class="control-label" for="inputSuccess"><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="@item.HelpMessage"></i> @item.Name  </label>
                                    @Html.DropDownList(item.ColumnName, item.SelectList.Select(s => new SelectListItem() { Text = s.Text, Value = s.Value, Selected = s.Selected }).OrderBy(x => x.Text), "--Select--", item.Attributes)
                                    <span class="field-validation-valid help-block" data-valmsg-for="@item.ColumnName" data-valmsg-replace="true"></span>
                                </div>
                            }
                        }
                    </div>
                    <div class="row">
                        <table class="table table-bordered searchme-table">
                            <thead>
                                <tr>
                                    <th>S.N.</th>
                                    <th>Details</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int j = 1;
                                    int k = 1;
                                    string _class = "success";
                                    foreach (var categoryGroup in Model.AssetWorkingStatusDTOs.Select(aws => new { aws.CategoryCode, aws.CategoryName }).Distinct().OrderBy(s => s.CategoryName))
                                    {
                                        <tr class="@_class">
                                            <td scope="row" style="vertical-align:central !important"> @k </td>
                                            <td nowrap style="vertical-align:central !important">
                                                <label class="control-label" for="inputSuccess">@categoryGroup.CategoryName</label>
                                            </td>
                                            <td>
                                                <table class="table table-bordered searchme-table">
                                                    <thead>
                                                        <tr>
                                                            @*<th>Type of Assets</th>*@
                                                            @if (categoryGroup.CategoryCode == "DFE001")
                                                            {
                                                                <th style="width:20% !important">Location</th>
                                                                <th style="width:20% !important">Expiry date <span style="color:red">*</span></th>
                                                                <th style="width:20% !important">Status <span style="color:red">*</span></th>
                                                                <th style="width:40% !important">Remarks</th>
                                                            }
                                                            else
                                                            {
                                                                <th style="width:30% !important">Location</th>
                                                                <th style="width:20% !important">Status <span style="color:red">*</span></th>
                                                                <th style="width:50% !important">Remarks</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            foreach (var assetWorkingItem in Model.AssetWorkingStatusDTOs.Where(a => a.CategoryCode == categoryGroup.CategoryCode).OrderBy(or => or.AssetCode))
                                                            {
                                                                <tr>
                                                                    @if (categoryGroup.CategoryCode == "DFE001")
                                                                    {
                                                                        <td>
                                                                            @Html.Hidden("AssetWorkingStatusId-" + @j, @assetWorkingItem.Id)
                                                                            @Html.Hidden("AssetDetailId-" + @j, @assetWorkingItem.AssetDetailId)
                                                                            @Html.Hidden("AssetExtraDetailId-" + @j, @assetWorkingItem.AssetExtraDetailId)
                                                                            @Html.Hidden("CategoryName-" + @j, @categoryGroup.CategoryName)
                                                                            <label class="control-label" for="inputSuccess">@assetWorkingItem.Location</label>
                                                                        </td>
                                                                        <td>
                                                                            @{
                                                                                var expireDateString = @assetWorkingItem.ExpireDate.HasValue ? @assetWorkingItem.ExpireDate.Value.ToString("MM/dd/yyyy") : string.Empty;
                                                                            }

                                                                            @Html.TextBox("ExpireDate-" + @j, @expireDateString, new { @class = "form-control datepicker AssetExpireDate" })
                                                                        </td>
                                                                        <td>
                                                                            @Html.DropDownList("Status-" + @j, WorkingStatusSelectList.Select(s => new SelectListItem() { Text = s.Title, Value = s.Value, Selected = s.Value == @assetWorkingItem.Status ? true : false }), "--Select--", new { @class = "form-control dropdown AssetStatus", @disabled = "true" })
                                                                        </td>
                                                                        <td>
                                                                            @if (string.IsNullOrEmpty(assetWorkingItem.Remarks))
                                                                            {
                                                                                <label style="color: red; float: right;" class="lblRamarks DBR_Remarks">*</label>
                                                                                @Html.TextArea("Remarks-" + @j, @assetWorkingItem.Remarks, 2, 20, new { @class = "form-control Remarks DBR_Remarks", @maxlength = "200" })
                                                                            }
                                                                            else
                                                                            {
                                                                                <label style="color: red; float: right;" class="lblRamarks">*</label>
                                                                                @Html.TextArea("Remarks-" + @j, @assetWorkingItem.Remarks, 2, 20, new { @class = "form-control Remarks", @maxlength = "200" })
                                                                            }
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            @Html.Hidden("AssetWorkingStatusId-" + @j, @assetWorkingItem.Id)
                                                                            @Html.Hidden("AssetDetailId-" + @j, @assetWorkingItem.AssetDetailId)
                                                                            @Html.Hidden("AssetExtraDetailId-" + @j, @assetWorkingItem.AssetExtraDetailId)
                                                                            @Html.Hidden("CategoryName-" + @j, @categoryGroup.CategoryName)
                                                                            <label class="control-label" for="inputSuccess">@assetWorkingItem.Location</label>
                                                                        </td>
                                                                        <td>
                                                                            @Html.DropDownList("Status-" + @j, WorkingStatusSelectList.Select(s => new SelectListItem() { Text = s.Title, Value = s.Value, Selected = s.Value == @assetWorkingItem.Status ? true : false }), "--Select--", new { @class = "form-control dropdown AssetStatus" })
                                                                        </td>
                                                                        <td>
                                                                            @if (string.IsNullOrEmpty(assetWorkingItem.Remarks))
                                                                            {
                                                                                <label style="color: red; float: right;" class="lblRamarks DBR_Remarks">*</label>
                                                                                @Html.TextArea("Remarks-" + @j, @assetWorkingItem.Remarks, 2, 20, new { @class = "form-control Remarks DBR_Remarks", @maxlength = "200" })
                                                                            }
                                                                            else
                                                                            {
                                                                                <label style="color: red; float: right;" class="lblRamarks">*</label>
                                                                                @Html.TextArea("Remarks-" + @j, @assetWorkingItem.Remarks, 2, 20, new { @class = "form-control Remarks", @maxlength = "200" })
                                                                            }
                                                                        </td>
                                                                    }
                                                                </tr>
                                                                j++;
                                                            }


                                                        }
                                                    </tbody>

                                                </table>
                                                @if (categoryGroup.CategoryCode == "CC001")
                                                {
                                                    <div class="row">
                                                        <div class="form-group has-feedback col-lg-4">
                                                            <label class="control-label" for="inputSuccess">Back up of DVR/NVR( in Days) <span style="color:red">*</span></label>
                                                            @Html.TextBox("CCTVBackup", CCTVBackupText, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group has-feedback col-lg-4">
                                                            <label class="control-label" for="inputSuccess">Status <span style="color:red">*</span></label>
                                                            @Html.TextBox("CCTVStatus", CCTVBackupStatus, new { @class = "form-control", @readonly = "true" })
                                                        </div>
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                        k++;
                                    }
                                    @Html.Hidden("AssetDetaillistCount", @j)
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <h4 class="box-title"><i class="glyphicon glyphicon-list-alt"></i> Record Log</h4>
                                <hr class="message-inner-separator">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th nowrap>Record Status</th>
                                                <th nowrap>Created By</th>
                                                <th nowrap>Created Date</th>
                                                <th nowrap>Modified By</th>
                                                <th nowrap>Modified Date</th>
                                                <th nowrap>Authorized by</th>
                                                <th nowrap>Authorized Date</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td nowrap>@Model.RecordStatus</td>
                                                <td nowrap>@Model.CreatedBy</td>
                                                <td nowrap>@Model.CreatedDate</td>
                                                <td nowrap>@Model.ModifiedBy</td>
                                                <td nowrap>@Model.ModifiedDate</td>
                                                <td nowrap>@Model.AuthorisedBy</td>
                                                <td nowrap>@Model.AuthorisedDate</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    @if (Model.RecordChangeLog != null)
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <h4 class="box-title"><i class="glyphicon glyphicon-warning-sign"></i> Change Logs</h4>
                                    <hr class="message-inner-separator">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Field Name</th>
                                                    <th>Log Status</th>
                                                    <th>Modified Date</th>
                                                    <th>Original Value</th>
                                                    <th>Modified Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int i = 1;
                                                    _class = string.Empty;
                                                    foreach (var item in Model.RecordChangeLog.PropertyChangeLogs)
                                                    {

                                                        <tr class="primary">
                                                            <td scope="row"> @i </td>
                                                            <td> @item.PropertyName </td>
                                                            <td> @Model.RecordChangeLog.ChangeStatus.ToString()</td>
                                                            <td> @Model.RecordChangeLog.ChangeDate </td>
                                                            <td> @item.OldValue </td>
                                                            <td> @item.NewValue </td>

                                                        </tr>

                                                        i++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                    <div class="row">
                        <p style="float:right">
                            @if ((Model.RecordStatus == GSAssetManagement.Entity.RecordStatus.Reverted || Model.RecordStatus == GSAssetManagement.Entity.RecordStatus.UnVerified))
                            {
                                if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Edit))
                                {
                                    <button class="btn icon-btn btn-success update saveRecords" type="submit" data-currentaction="@GSAssetManagement.Entity.CurrentAction.Edit">
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-floppy-disk img-circle text-success">
                                        </span>Update
                                    </button>
                                }
                                if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Delete))
                                {
                                    <button class="btn icon-btn btn-danger update saveRecords" type="submit" data-currentaction="@GSAssetManagement.Entity.CurrentAction.Delete">
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-trash img-circle text-success">
                                        </span>Delete
                                    </button>
                                }
                            }

                            @if (Model.RecordStatus == GSAssetManagement.Entity.RecordStatus.UnVerified)
                            {
                                if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Discard))
                                {
                                    <button class="btn icon-btn btn-warning revert saveRecords" type="submit" data-currentaction="@GSAssetManagement.Entity.CurrentAction.Discard">
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-floppy-remove img-circle text-success">
                                        </span>Discard
                                    </button>
                                }

                                if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Authorise))
                                {
                                    <button class="btn icon-btn btn-danger revert saveRecords" type="submit" data-currentaction="@GSAssetManagement.Entity.CurrentAction.Revert"
                                            data-content="Do you want to revert to the maker?">
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-floppy-remove img-circle text-success">
                                        </span>Revert
                                    </button>
                                }

                                if (GSAssetManagement.Web.Utility.AuthorizeViewHelper.IsAuthorize(Model.SchemaName, Model.ModuleSummaryName, GSAssetManagement.Entity.CurrentAction.Authorise))
                                {
                                    <button class="btn icon-btn btn-success authorise saveRecords" type="submit" data-currentaction="@GSAssetManagement.Entity.CurrentAction.Authorise"
                                            data-content="Are you sure to submit the Drilling Report?">
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-floppy-saved img-circle text-success">
                                        </span>Verified
                                    </button>
                                }


                            }

                            @if (Model.IsParent)
                            {
                                <a href="/DrillingReport/BranchDrillingReport" class="btn btn-primary btn-flat">
                                    <i class="fa  fa-hand-o-left"></i> Back to Summary
                                </a>
                            }
                            else if (!Model.IsParent && Model.EntryType == "S")
                            {
                                <a href="/DrillingReport/" class="btn btn-primary btn-flat">
                                    <i class="fa fa-hand-o-left"></i> Back to Summary
                                </a>
                            }
                            else
                            {
                                <a href="/DrillingReport/BranchDrillingReport" class="btn btn-primary btn-flat" id="backtoSummary">
                                    <i class="fa  fa-hand-o-left"></i> Back to Summary
                                </a>
                            }

                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<style>
    .Remarks {
        width: 97% !important;
    }
</style>