﻿@using Microsoft.AspNet.Identity
@using GSAssetManagement.Web.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Security Drilling Report</title>

    @*@Scripts.Render("~/bundles/ckeditor");*@

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="image/x-icon" href="~/Image/Logo_sm.png" rel="icon">
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-green.min.css" rel="stylesheet" />
    <link href="~/Content/Vendors/iCheck/flat/_all.css" rel="stylesheet" />
    <link href="~/Content/Loader/loader.css" rel="stylesheet" />
    <link href="~/Content/Vendor/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/Vendor/bootstrap-datepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Content/DropdownSearch/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/dist/css/style.css" rel="stylesheet" />
    <link href="~/Content/GSAssetMgmt.css" rel="stylesheet" />
    <link href="~/Scripts/MenuContext/context-menu.min.css" rel="stylesheet" />
    <link href="~/Scripts/alert/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/Content/bootstraptoggle/bootstrap-toggle.css" rel="stylesheet" />
    <link href="~/Content/Vendors/Select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/NepaliDatePicker/nepali.datepicker.v3.7.min.css" rel="stylesheet" />

</head>
<body class="hold-transition skin-blue sidebar-mini fixed control-sidebar-open sidebar-mini-expand-feature">
    <!-- Site wrapper -->
    <div class="wrapper">
        <div class="loader-wrap" id="loader-wrapper" style="display:none;">
            <div class="loader">
                <div class="three rotating-3"></div>
                <div class="two rotating-2"></div>
                <div class="one">
                    <img src="~/Image/logo.png" />
                </div>
            </div>
        </div>
        @*<div id="loader-wrapper" style="display:none">
                <div id="loader"></div>
            </div>*@

        <header class="main-header">
            <a href="/DrillingReport/BranchDrillingReport" class="logo">
                <span class="logo-mini">
                    <img src="~/Image/Logo_sm.png" style="width: 40px;" />
                </span>
                <span class="logo-lg">
                    <img src="~/Image/logo.png" style="width: 140px;" />
                </span>
            </a>

            <nav class="navbar navbar-static-top">
                @*Sidebar toggle button*@
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <h2 class="nav-title"><strong>Security Drilling Report</strong></h2>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        @*<li class="dropdown user user-menu">
                                <a href="/Content/UserManual.pdf" class="dropdown-toggle">
                                    <span class="hidden-xs"> Operation Manual </span>
                                </a>
                            </li>*@

                        <li class="user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                @*<img src="/Image/Profile/defaultUser.jpg" class="user-image" alt="User Image">*@
                                <span class="hidden-xs">@string.Format("{0} LogOff", ViewUserInformation.Fullname())</span>
                            </a>
                            <ul class="dropdown-menu">

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="/Account/LogOff" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>



                        @*<li class="dropdown user user-menu">
                                <a href="/WorkflowManagement/UserWorklowSetup/Create?Case=@Request.RawUrl" class="dropdown-toggle">
                                    <img src="~/Image/Profile/workflow.png" class="user-image" alt="User Image" />
                                    <span class="hidden-xs">Create Worflow</span>
                                </a>
                            </li>*@



                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@ViewUserInformation.GetCurrentUserProfileImage()" class="img-circle">
                    </div>
                    <div class="pull-left info">
                        <p>@ViewUserInformation.Fullname()</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>


                <ul class="sidebar-menu" data-widget="tree">
                    @*<li>
                        <a href="/DrillingReport/BranchDrillingReport">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>*@
                    @{ var menuList = GSAssetManagement.Web.Utility.MenuHelper.MenuHelper.GetMenuByLoginUsingXML();
                        if (menuList != null)
                        {
                            foreach (GSAssetManagement.Web.Models.MenuModel item in menuList)
                            {
                <li class="treeview" style="padding-bottom:20px !important;">

                    <a href="#">
                        <i class="fa @item.IconName"></i> <span>@item.MenuHeadName</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    @if (item.SubmenuList.Count > 0)
                    {
                <ul class="treeview-menu">
                    @foreach (GSAssetManagement.Web.Models.SubMenu submenu in item.SubmenuList)
                    {
                <li><a href="@submenu.Url"><i class="fa  fa-hand-o-right"></i> @submenu.SubModuleName</a></li>}

                </ul>}
                </li> }
                            } }
<li style="padding-bottom:20px !important;">
                        <a href="/ApplicationDataRule/Security_drilling_report_manual.pdf">
                            <i class="fa fa-calendar"></i> <span>User Manual</span>
                        </a>
                    </li>
                </ul>
            </section>

        </aside>

        <div class="content-wrapper">
            <section class="content" id="irm-workspace">
                <div id="main-workspace" style="margin-top:10px;">
                    @RenderBody()
                </div>
                <div class="modal fade" id="cofirmMessgae" tabindex="-1" role="dialog" aria-labelledby="cofirmMessgae" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div id="confirmresponseContent" style="display:none">

                            </div>
                        </div>

                        <div class="shadow" id="alertDialog" style="display:none;">
                            <div class="preview-box">
                                <div class="alert alert-warning">
                                    <span class="glyphicon glyphicon-ok"></span> <strong>Alert Message</strong>
                                    <hr class="message-inner-separator">
                                    <p>
                                        Requsted action is invalid.
                                    </p>

                                </div>
                                <div class="form-group" style="padding-top:5px;">
                                    <button class="btn icon-btn btn-success" type="button" data-dismiss="modal" style="float:right;margin-right:15px;">
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-ok img-circle text-success">
                                        </span>Ok
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="shadow" id="confirmDialog">
                            <div class="preview-box">
                                <div class="alert alert-warning">
                                    <span class="glyphicon glyphicon-ok"></span> <strong>Confirm Message</strong>
                                    <hr class="message-inner-separator">
                                    <p>
                                        Are your sure you want to complete this action ?. Please mention remarks and click Yes else click No.
                                    </p>

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Remarks</label>
                                        <textarea class="form-control" id="SubmissionReamrks" rows="3"></textarea>
                                    </div>

                                </div>
                                <div class="form-group" style="padding-top:5px;">
                                    <button class="btn icon-btn btn-success" type="submit" style="float:right;margin-right:15px;" id="confirmOperation">
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-ok img-circle text-success">
                                        </span>Yes
                                    </button>
                                    <button class="btn icon-btn btn-danger" data-dismiss="modal" type="submit" style="float:right;margin-right:15px;" id="cancelOperation">
                                        <span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-remove img-circle text-success">
                                        </span>No
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal modal-primary fade" id="documentPreview" tabindex="-1" role="dialog" aria-labelledby="documentPreview" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title"> Document Preview</h4>
                            </div>
                            <div class="modal-body" id="documentPreviewBody">
                                <iframe id="frame" src="" style="width:100%;height:1000px;"></iframe>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </section>

        </div>

        <div id="modal">
            @RenderSection("Modal", required: false)
        </div>


        <div class="control-sidebar-bg"></div>
    </div>



    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/vendor/fastclick/fastclick.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script src="~/dist/js/demo.js"></script>
    <script src="~/bower_components/bootstrap/js/tooltip.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/vendor/bootstrap-datepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/app/notification/notification.js"></script>
    <script src="~/Scripts/app/bootstrapJs/initializerDataSource.js"></script>
    <script src="~/Scripts/app/bootstrapJs/initializer.js"></script>
    <script src="~/Scripts/app/commonService/dataSource.js"></script>
    <script src="~/Scripts/app/commonService/commonService.js"></script>
    <script src="~/Scripts/Dropdown/bootstrap-select.js"></script>
    <script src="~/Scripts/alert/jquery-confirm.min.js"></script>
    <script src="~/Scripts/mask/inputmask.js"></script>
    <script src="~/Scripts/mask/inputmask.extensions.js"></script>
    <script src="~/Scripts/mask/inputmask.numeric.extensions.js"></script>
    <script src="~/Scripts/mask/inputmask.date.extensions.js"></script>
    <script src="~/Scripts/mask/jquery.inputmask.js"></script>
    <script src="~/Scripts/dateconverter.js"></script>
    <script src="~/Scripts/Export2Excel/jquery.table2excel.js"></script>
    <script src="~/Scripts/iCheck/icheck.js"></script>
    <script src="~/Scripts/Select2/select2.full.js"></script>

    <script src="~/Scripts/app/custom/dataSourceBootstrap.js"></script>
    <script src="~/Scripts/app/custom/applicationBootstraper.js"></script>

    <script src="~/Scripts/Dropdown/cascadingdropdownDataSource.js"></script>
    <script src="~/Scripts/Dropdown/cascadingdropdown.js"></script>

    <script src="~/Scripts/NepaliDatePicker/nepali.datepicker.v3.7.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
