﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Security Drilling Report</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/Loader/loader.css" rel="stylesheet" />
    <link href="~/Content/Vendors/iCheck/flat/blue.css" rel="stylesheet" />

    <style>
        .field-validation-error {
            position: relative !important;
            right: 0px !important;
            bottom: -7px !important;
        }
    </style>
</head>
<body class="hold-transition login-page">

    <div class="content-wrapper" style="margin-left:0px;">
        <section class="content">
            @RenderBody()
        </section>

    </div>


    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/vendor/fastclick/fastclick.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script src="~/dist/js/demo.js"></script>
    <script src="~/bower_components/bootstrap/js/tooltip.js"></script>    
    <script src="~/Scripts/jquery.validate.min.js"></script>  
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> 
    <script src="~/Scripts/iCheck/icheck.js"></script>


    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        });

        (function ($) {
            var defaultOptions = {
                errorClass: 'has-error',
                validClass: 'has-success',
                highlight: function (element, errorClass, validClass) {
                    $(element).closest(".form-group")
                        .addClass(errorClass)
                        .removeClass(validClass);
                    $(element).parent().find('label i').addClass('fa-remove')
                    .removeClass('fa-question-circle');

                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).closest(".form-group")
                    .removeClass(errorClass)
                    .addClass(validClass);

                    $(element).parent().find('label i').addClass('fa-check')
                        .removeClass('fa-question-circle');
                    $(element).parent().find('label i').addClass('fa-check')
                       .removeClass('fa-remove');
                }
            };

            $.validator.setDefaults(defaultOptions);

            $.validator.unobtrusive.options = {
                errorClass: defaultOptions.errorClass,
                validClass: defaultOptions.validClass,
            };

        })(jQuery);

    </script>
</body>
</html>
