﻿@using GSAssetManagement.Web.Models
@model LoginViewModel
@{ ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/frontend.cshtml"; }



<div class="login-box">
    <div class="login-logo">
        <a href="/"><b style="font-size:20px">Security Drilling Report</b></a>
        <br />
        <img src="~/Image/logo.png" />
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg" style="font-size: 14px;">Sign in to your account using domain credentials</p>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
        {
@Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess"> <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Enter registered valid email address"></i> Username </label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your Username" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>

                                                <div class="form-group">
                                                    <label class="control-label" for="inputSuccess"> <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Enter registered valid password"></i> Password </label>
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter your password", @autocomplete = "off" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                                                <div class="row">
                                                                    @*<div class="col-xs-8">
                                                                            <div class="checkbox icheck">
                                                                                <label>
                                                                                    <input type="checkbox" name="RememberMe"> Remember Me
                                                                                </label>
                                                                            </div>
                                                                        </div>*@
                                                                    <!-- /.col -->
                                                                    <div class="col-xs-4">
                                                                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                                                    </div>
                                                                    <!-- /.col -->
                                                                </div>}
        @*<div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="/Account/ForgotPassword" class="btn btn-block btn-social btn-primary btn-flat">
                    <i class="fa fa-lock"></i> I forgot my password
                </a>
            </div>*@

    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/app/accountLogin/login.js"></script>

}
